---
Checks:          '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm-*,-llvmlibc-*,-altera-unroll-loops'
WarningsAsErrors: '1'
HeaderFilterRegex: ''
FormatStyle:     none


